@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    /* hero */
    .hero {
        padding: 188px 0;
        max-width: 1440px;
        height: 600px;
    }

    .hero-title {
        max-width: 1158px;
    }


    /**
      |============================
      | Feature
      |============================
    */
    .feature {
        padding: 120px 0;
    }



    .feature-item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .feature-icon {
        width: 64px;
        height: 64px;
        fill: var(--dark-color);
    }

    /* .feature-bgr-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        height: 112px;
        background: var(--modal-overlay-color);
        border-radius: 4px;
    } */





    /* .item-title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--dark-color);
        margin-bottom: 72px;
    } */

    /* action */
    .action {
        display: block;
    }

    /**
      |============================
      | team
      |============================
    */

    /* 
    .team-card {
        background-color: var(--white-background);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    } */


    /**
      |============================
      | socmedia
      |============================
    */

    .social-item {
        width: 40px;
        height: 40px;
    }

    .socmedia-icon {
        fill: var(--modal-overlay-color);
    }

    .socmedia-link {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background-color: var(--primary-brand-color);
        transition: background-color 250ms var(--timing-function);
    }

    .socmedia-link:hover,
    .socmedia-link:focus {
        background-color: var(--pressed-state-color);
    }

    .socmedia-bgr {
        transition: background-color 250ms var(--timing-function);
    }

    .socmedia-bgr:hover,
    .socmedia-bgr:focus {
        background-color: var(--success-color);
    }

    .customers-item {
        width: calc((100% - 5 * 24px) / 6);
    }

    /**
  |============================
  | footer
  |============================
*/
    /* .footer-soc-media {
        margin-left: 120px;
    } */

    .footer-socmedia-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white-background);
        margin-bottom: 16px;

    }

    .footer-container-socmedia {
        display: flex;
        gap: 16px;
    }

    .footer-socmedia {
        width: 40px;
        height: 40px;

    }

    /* Subscribe form */
    .footer-email-input {
        margin-left: 80px;

    }

    .footer-email-input-txt {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white-background);
        margin-bottom: 16px;
    }

    .footer-email-input-form {
        display: flex;
    }

    .footer-email-input-field {
        position: relative;
    }

    .email-input-field {
        background-color: transparent;
        width: 264px;
        height: 40px;
        padding-left: 16px;
        color: var(--white-background);
        border: 1px solid var(--white-background);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        margin-right: 24px;
        transition: 250ms var(--timing-function);
    }

    .email-input-field::placeholder {
        color: var(--white-background);
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        opacity: 1;

    }


    .subscribe-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 24px;
        gap: 16px;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-background);
        /* position: absolute; */
        background: #4D5AE5;
        border: none;
        border-radius: 4px;
        transition: 250ms var(--timing-function);
        cursor: pointer;
    }







}