@media screen and (min-width: 1158px) {
    .container {
        width: 100%;
        padding: 100px 156px;
    }

    /* hero */
    .hero {
        padding: 188px 0;
        max-width: 1440px;
        height: 600px;

    }

    .hero-title {
        max-width: 1158px;
    }

    /**
      |============================
      | Feature
      |============================
    */
    .feature {
        padding: 120px 0;
    }


    /* ======= agreement ======== */
    .modal-form-agreement {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 24px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--subtle-text-color);
    }

    .modal-form-agreement-box {
        appearance: none;
    }

    /* .modal-form-agreement-box:checked {
  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
  transition: 250ms var(--timing-function);
} */

    .modal-form-agreement-unchecked {
        opacity: 1;
        transition: 250ms var(--timing-function);
    }

    .modal-form-agreement-box:checked+.modal-form-agreement-icon>.modal-form-agreement-unchecked {
        opacity: 0;
    }

    .modal-form-agreement-checked {
        opacity: 0;
        transition: 250ms var(--timing-function);
    }

    .modal-form-agreement-box:checked+.modal-form-agreement-icon>.modal-form-agreement-checked {
        opacity: 1;
    }

    .modal-link-policy {
        text-decoration-line: underline;
        color: var(--primary-brand-color);
    }

    .contact-form-btn-wrapper {
        display: flex;
        justify-content: center;
    }

    .modal-send-btn {
        display: block;
        margin: 0 auto;
        font-family: inherit;
        font-weight: 500;
        width: 169px;
        height: 56px;
        padding: 16px 32px;
        background: var(--primary-brand-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 4px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-background);
        cursor: pointer;
        transition: background-color 250ms var(--timing-function);
    }

    .modal-send-btn:hover,
    .modal-send-btn:focus {
        background-color: var(--pressed-state-color);
    }


    .feature-item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .feature-icon {
        width: 64px;
        height: 64px;
        fill: var(--dark-color);
    }

    /* .feature-bgr-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        height: 112px;
        background: var(--modal-overlay-color);
        border-radius: 4px;
    } */





    /* .item-title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--dark-color);
        margin-bottom: 72px;
    } */

    /* action */
    .action {
        display: block;
    }

    /**
      |============================
      | team
      |============================
    */

    /* 
    .team-card {
        background-color: var(--white-background);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    } */


    /**
      |============================
      | socmedia
      |============================
    */

    .social-item {
        width: 40px;
        height: 40px;
    }

    .socmedia-icon {
        fill: var(--modal-overlay-color);
    }

    .socmedia-link {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background-color: var(--primary-brand-color);
        transition: background-color 250ms var(--timing-function);
    }

    .socmedia-link:hover,
    .socmedia-link:focus {
        background-color: var(--pressed-state-color);
    }

    .socmedia-bgr {
        transition: background-color 250ms var(--timing-function);
    }

    .socmedia-bgr:hover,
    .socmedia-bgr:focus {
        background-color: var(--success-color);
    }

    .customers-item {
        width: calc((100% - 5 * 24px) / 6);
    }

    /**
  |============================
  | footer
  |============================
*/
    /* .footer-soc-media {
        margin-left: 120px;
    } */

    .footer-socmedia-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white-background);
        margin-bottom: 16px;

    }

    .footer-container-socmedia {
        display: flex;
        gap: 16px;
    }

    .footer-socmedia {
        width: 40px;
        height: 40px;

    }

    /* Subscribe form */
    .footer-email-input {
        margin-left: 80px;

    }

    .footer-email-input-txt {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white-background);
        margin-bottom: 16px;
    }

    .footer-email-input-form {
        display: flex;
    }

    .footer-email-input-field {
        position: relative;
    }

    /* 
    .email-input-field {
        margin-right: 24px;
        */
}

@media screen and (min-width: 769px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero_des@1x.webp);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero/hero_des@2x.webp);
        }
    }

}

.email-input-field::placeholder {
    color: var(--white-background);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    opacity: 1;

}


.subscribe-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    /* position: absolute; */
    background: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: 250ms var(--timing-function);
    cursor: pointer;
}

/**
  |============================
  | modal styles
  |============================
*/
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden.modal {
    transform: translate(-50%, -50%) scaleY(0);
    transition: deley 400ms;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    width: 408px;
    min-height: 576px;
    padding: 72px 24px 24px;
    background-color: var(--modal-background);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;
    transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: var(--dark-color);
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
    cursor: pointer;
}

.modal-btn:hover {
    background-color: var(--pressed-state-color);
    color: var(--modal-overlay-color);
}


.modal-icon {
    width: 8px;
    height: 8px;
    fill: currentColor;
}

.modal-txt {
    text-align: center;
    margin-bottom: 8px;
}

.modal-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.contact-form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.field-input {
    position: relative;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: 250ms var(--timing-function);
    pointer-events: none;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -2px;
    transition: 250ms var(--timing-function);

}

.modal-form-input:focus {
    outline-color: var(--primary-brand-color);
    border: transparent;
}

.modal-form-input:focus+.modal-form-icon {
    fill: var(--primary-brand-color);

}

.modal-form-label {
    display: block;
    margin: 8px 0 4px 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: 250ms var(--timing-function);
}

.contact-form-message {
    display: block;
    width: 100%;
    min-height: 120px;
    padding: 10px;
    margin-bottom: 16px;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -2px;
    transition: 250ms var(--timing-function);
}

.contact-form-message::placeholder {
    font-size: 12px;
    line-height: 1.17x;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.contact-form-message:focus {
    outline-color: var(--primary-brand-color);
    border: transparent;
}

.accept-police {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 24px;
}

.modal-form-check {
    width: 16px;
    height: 16px;
}

/* ======= agreement ======== */
.modal-form-agreement {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color);
}

.modal-form-agreement-box {
    appearance: none;
}

/* .modal-form-agreement-box:checked {
  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
  transition: 250ms var(--timing-function);
} */

.modal-form-agreement-unchecked {
    opacity: 1;
    transition: 250ms var(--timing-function);
}

.modal-form-agreement-box:checked+.modal-form-agreement-icon>.modal-form-agreement-unchecked {
    opacity: 0;
}

.modal-form-agreement-checked {
    opacity: 0;
    transition: 250ms var(--timing-function);
}

.modal-form-agreement-box:checked+.modal-form-agreement-icon>.modal-form-agreement-checked {
    opacity: 1;
}

.modal-link-policy {
    text-decoration-line: underline;
    color: var(--primary-brand-color);
}

.contact-form-btn-wrapper {
    display: flex;
    justify-content: center;
}

.modal-send-btn {
    display: block;
    margin: 0 auto;
    font-family: inherit;
    font-weight: 500;
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    background: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    cursor: pointer;
    transition: background-color 250ms var(--timing-function);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
    background-color: var(--pressed-state-color);
}