:root {
    --primary-brand-color: #4d5ae5;
    --pressed-state-color: #404bbf;
    --dark-color: #2e2f42;
    --success-color: #31d0aa;
    --text-color: #434455;
    --subtle-text-color: #8e8f99;
    --accent-color: #e7e9fc;
    --modal-overlay-color: #f4f4fd;
    --hero-background-color: rgba(46, 47, 66, 0.7);
    --white-background: #fff;
    --modal-background: #fcfcfc;
    --color-customer: rgb(175, 177, 184);
    --primary-font: "Roboto";
    --secondary-font: "Raleway";
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
    min-width: 320px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid red;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background: var(--white-background);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 48px;
    margin-bottom: auto;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    text-decoration: none;
    margin-bottom: 40px;
}

.mobile-contacts {
    margin-bottom: 48px;
}

.mobile-contacts-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-brand-color);
    margin-bottom: 40px;
}

.mobile-contacts-mailto {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-container-socmedia {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

/* hero */
.hero {
    background-color: var(--dark-color);
    text-align: center;
    padding: 112px 0;
    max-width: 428px;
    height: 432px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--white-background);
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}

.hero-button {
    font-family: var(--primary-font), sans-serif;
    font-weight: 500;
    min-width: 169px;
    height: 56px;
    background-color: var(--primary-brand-color);
    color: var(--white-background);
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    line-height: 1.5;
    border: none;
    cursor: pointer;
    transition: background-color 250ms var(--timing-function);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--pressed-state-color);
}

/**
  |============================
  | Feature
  |============================
*/
.feature {
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.item {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}



.feature-icon {
    width: 64px;
    height: 64px;
    fill: var(--dark-color);
}

.feature-bgr-icon {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    height: 112px;
    background: var(--modal-overlay-color);
    border-radius: 4px;
}

.item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
}

.item-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 72px;
}

.item-txt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* action */

.action {
    display: none;
    padding-bottom: 120px;
}

.action-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

@media screen and (max-width: 1158px) {
    .action-list {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }
}

/* @media screen and (max-width: 767px) {
    .menu {
        display: none;
    }
} */

/* feature */
@media screen and (max-width: 767px) {
    .item-subtitle {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
    }
}

/**
  |============================
  | team
  |============================
*/

.team {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--modal-overlay-color);
}

.team-card {
    background-color: var(--white-background);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

@media screen and (max-width: 767px) {
    .team-card {
        width: 100%;
    }
}

.team-item {
    padding: 32px 16px;
}

/**
  |============================
  | socmedia
  |============================
*/
.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.socmedia-icon {
    fill: var(--modal-overlay-color);
}

.socmedia-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    transition: background-color 250ms var(--timing-function);
}

.socmedia-link:hover,
.socmedia-link:focus {
    background-color: var(--pressed-state-color);
}

.socmedia-bgr {
    transition: background-color 250ms var(--timing-function);
}

.socmedia-bgr:hover,
.socmedia-bgr:focus {
    background-color: var(--success-color);
}

/**
  |============================
  | Customers
  |============================
*/
.customers {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

@media screen and (max-width: 767px) {
    .customers {
        padding: 96px 0px;
    }
}

.customers-title {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    gap: 24px;
}

@media screen and (max-width: 767px) {
    .customers-list {
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .customers-item {
        width: calc((100% - 1 * 24px) / 2);
    }
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    color: #afb1b8;
    transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

@media screen and (max-width: 428px) {
    .customers-link {
        width: 190px;
    }
}

.svg-link {
    /* width: 104px;
  height: 56px; */
    fill: currentColor;
    transition: fill 250ms var(--timing-function);
}

/* .customers-icon {} */

.customers-link:hover,
.customers-link:focus {
    border-color: var(--pressed-state-color);
    color: #404bbf;
}

.svg-link:hover,
.svg-link:focus {
    fill: var(--pressed-state-color);
}


/**
  |============================
  | footer
  |============================
*/
.logo-text {
    margin-right: 120px;
}

.footer-content {
    background-color: var(--dark-color);
    padding: 100px 0;
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
}

.footer-box {
    display: flex;
    align-items: baseline;
}

.footer-text {
    max-width: 264px;
    color: var(--accent-color);
}

/* .footer-soc-media {
  margin-left: 120px;
} */

.footer-socmedia-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-background);
    margin-bottom: 16px;

}

.footer-container-socmedia {
    display: flex;
    gap: 16px;
}

.footer-socmedia {
    width: 40px;
    height: 40px;

}

/* Subscribe form */
.footer-email-input {
    margin-left: 80px;

}

.footer-email-input-txt {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-background);
    margin-bottom: 16px;
}

.footer-email-input-form {
    display: flex;
}

.footer-email-input-field {
    position: relative;
}

.email-input-field {
    background-color: transparent;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    color: var(--white-background);
    border: 1px solid var(--white-background);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 24px;
    transition: 250ms var(--timing-function);
}

.email-input-field::placeholder {
    color: var(--white-background);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    opacity: 1;

}


.subscribe-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    /* position: absolute; */
    background: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: 250ms var(--timing-function);
    cursor: pointer;
}

