@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 96px 108px;
    }

    /* hero */
    .hero {
        max-width: 768px;
        height: 436px;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 768px;
    }

    /* feature */
    .feature {
        padding: 96px 0;
    }

    .feature-item {
        width: calc((100% - 1 * 24px) / 2);
    }

    .customers-item {
        width: calc((100% - 2 * 24px) / 3);
    }

    /* ====== footer ===*/




    .footer-email-input-form {
        display: flex;

    }

    .subscribe-btn {
        margin-left: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-soc-media {
        margin-left: 24px;
    }

    .footer-box {
        flex-wrap: wrap;
    }
}